<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
           <h1 class="mb-1">My links</h1>
           <h3 class="mb-5">
               <em>Tu repositorio de enlaces favoritos</em>
           </h3>
           <a href="/signin" class="btn btn-primary">
           EMPECEMOS</a>
        </div>
    </header>
</main>