<div class="container p-4">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{user.fullname}} </h3>
                    <h6>{{user.username}}</h6>
                    <a href="/links" class="btn btn-primary m-4">
                        Administra tus enlaces
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>